{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

<div class="row justify-content-center my-3">
  <div class="col-5">
    <img src="{% static 'portfolio/pulkit.jpg' %}" class="img-fluid">
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-9 text-center">
    <h1 style="font-size:4vw"; id="hometext" class="font-bold">|| Python3+Django, Pulumi, Perl, Terraform, Golang || Multi-Cloud Automations || Build & Release/DevOps Engineer ||</h1>
  </div>
</div>
<hr>

{% endblock %}
